/*General style*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 padding: 10px;
}

/*Header*/
header .head{
  height: 100px;
  background: yellow;
  margin-bottom: 5%;
}

/*Main*/
main::after {
  content: "";
  display: table;
  clear: both;
}


.sidebar-left{
  width: 25%;
  height: 100px;
  background: blue;
  margin-right: 5%;
  float: left;
}

.middle-col{
  width: 40%;
  height: 300px;
  background: purple;
  float: left;
}

.sidebar-right{
  width: 25%;
  height: 200px;
  background: pink;
  margin-left: 5%;
  margin-bottom: 5%;
  float: left;
}

.sidebar-bottom{
  width: 25%;
  height: 200px;
  background: pink;
  margin-left: 5%;
  margin-bottom: 5%;
  float: left;
}

/*Footer*/
footer .foot{
  height: 50px;
  background: lightblue;

}
